body{
  background-image: url('/img/new_york.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}
#cities[close="true"] {
  position: absolute;
  top:100px;
  left: 650px;
  width: 210px;
  height: 35px;
  color: aliceblue;
  border: 2px solid #00cfff;
  background-color: #00bfff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 35px;
  border-radius: 10%;
  user-select: none;
}
#cities[close="false"] {
  position: absolute;
  top:100px;
  left: 650px;
  width: 210px;
  height: 150px;
  color: aliceblue;
  border: 2px solid #00cfff;
  background-color: #00bfff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 35px;
  border-radius: 5%;
  user-select: none;
  overflow:auto;
}
#search {
  position: absolute;
  top:100px;
  left: 880px;
  width: 220px;
  height: 35px;
  color: aliceblue;
  border: 2px solid #00cfff;
  background-color: #00bfff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 35px;
  border-radius: 10%;
  user-select: none;
}
#search:active {
  font-size: 1.4rem;
  filter: brightness(110%);
}
#cities[close="true"]:active {
  filter: brightness(110%);
}
#field {
  position: absolute;
  left: 650px;
  top:150px;
  width: 450px;
  height: 450px;
  color: aliceblue;
  border: 2px solid #00cfff;
  background-color: #00bfff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 35px;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}
#header{
  color: aliceblue;
  border-radius: 5%;
  user-select: none;
}
#tableCity{
  margin: 5px;
  font-size: 1rem;
  color: aliceblue;
  user-select: none;
  cursor: pointer;
}
.menuValue {
  margin: 1px;
  border-bottom: 2px solid white;
}
.kiev {
  background-color: #87cefa;
  border-top: 2px solid white;
}

.tableCity:hover {
  font-size: 1.4rem;
}

#choose{
  width: 190px;
  height: 30px;
  color: aliceblue;
  border: 2px solid #00bfff;
  background-color: #00bfff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  border-radius: 5%;
  user-select: none;
}
#choose:hover{
  font-size: 1.4rem;
}
